@use "sass:map";

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    sm: 320px,
    md: 768px,
    xl: 1280px,
  )
);
